# Virtual environments
venv/
venv_cpu/
ENV/
env/
*.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.whl

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest cache
.pytest_cache/

#keys
keys

#temporary scripts
temp.py
